<?xml version="1.0"?>
<model>
  <name>round_rock</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Kylie Herbstzuber</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>A model of a round rock from the lunabotics UCF arena</description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>