<?xml version="1.0" ?>
<model>
  <name>tag_733_669</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Abraham Dionne</name>
    <email>abdionne@wpi.edu</email>
  </author>
  <description>
    AprilTag model exported from Blender as COLLADA (.dae)
  </description>
</model>
