<?xml version="1.0"?>
<model>
  <name>artemis_arena</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Gavin Hill</name>
    <email>gjhill@wpi.edu</email>
  </author>
  <description>Gazebo Harmonic/ROS2 version of the UCF Lunabotics arena. Adapted version from Kylie's original model.</description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>
