<?xml version="1.0"?>
<model>
  <name>rock_a</name>
  <version>1.0</version>
  <sdf version="1.7">model.sdf</sdf>
  <author>
    <name>Kylie Herbstzuber</name>
    <email>kmherbstzuber@wpi.edu</email>
  </author>
  <description>First type of rock present in the lunabotics field</description>
  <ros>
    <version>jazzy</version>
  </ros>
</model>